<div  class="container-categories-section" text-align="center" [ngStyle]="gridStyle">
  <ng-container  *ngFor="let item of cells; let i = index" [attr.data-index]="i" >
    <app-cell [cellNumber]="item.cell_num" [iconUrl]="item.player == 'first' ? ('/assets/'+firstPlayerIconUrl) : item.player == 'second' ? ('/assets/'+secondPlayerIconUrl) : '' " class="category-section" (click)="cellClicked(item.cell_num,item.player)"  [style.background-color]="item.cell_color"></app-cell>
  </ng-container>
</div>