.watermark {
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0.5;
  z-index: 99;
}
.watermark img{
  max-width: 70px;
}

@media only screen and (min-width: 600px) {
  .watermark img {
    max-width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .watermark img {
    max-width: 100px;
  }
}