<section *ngIf="!playerWinner">
<div class="input-dimension-section">
    <mat-form-field>
        <mat-select placeholder="dimension options" [disableOptionCentering]="false" [(value)]="dimensionSelected">
            <mat-option *ngFor="let dimension of dimensionOps" [value]="dimension">
                {{dimension | jacksSqrtPipe: 'dosnotmatter'}} X {{dimension | jacksSqrtPipe: 'dosnotmatter'}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<app-table (playerWin)="whenPlayerWin($event)" [dimension]="dimensionSelected" [steps]="steps"></app-table>
</section>
<div  *ngIf="playerWinner" class="winner-section">
    <p>the winner is {{playerWinner}} player</p>
</div>
